<table id="nav" border="1px" width="100%">
    <tr class="sub" tabindex="1">
        <td><b>Name2</b></td>
        <td><input style="width:100%; color:gray" type="text" name="tile_name" value="{{tileMCtrl.selectedTile.name}}"></td>
    </tr>
    <tr>
        <td><b>Size</b></td>
        <td><input style="width:100%; color:gray" type="text" name="tile_size" value="simple"></td>
    </tr>
    <tr>
        <td><b>Color</b></td>
        <td><input style="width:100%; color:gray" type="text" name="tile_colour" value="Red"></td>
    </tr>
    <tr>
        <td><b>Image</b></td>
        <td><input style="width:100%; color:gray" type="text" name="tile_colour" value="camera"></td>
    </tr>
</table>