<div class="container" fade-in>


    <div style="padding-top: 2em;" ng- ="tileStore">

        <div class="jumbotron" style="padding-top:5px; padding-bottom:0px;">

            <div style="padding-bottom: 1em;" class="pull-right">
                
            </div>

            <div class="page-header">
                <h1>
                    <img ng-src="assets/resources/logo_LTB.png" width="80px" height="80px">
                    Edit {{stack_info.stack}}
                </h1>
            </div>
        </div>
        
        <div class="row">
            <div class="panel panel-default col-md-2" style="padding:0 0 0 0">
                <div class="panel-heading"><h4>Tiles:</h4></div>

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat='item in list5' ng-show="item.title" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list5" jqyoui-draggable="{index: {{$index}}, placeholder: 'keep'}">{{item.title}}</li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-4" style="padding-left:70px">
                <div class="emulator_iphone" style="width:350px; height:639px">
                    <!--<div class="content_iphone">
                         <a><img ng-src="assets/resources/bbb.png" width="242px" height="430px"></a>
                    </div>-->
                    <div class="content_iphone" data-drop="true" jqyoui-droppable="{multiple:true,onDrop: 'dropTile'}">
                        <stackemulate>loading tiles...</stackemulate>
                    </div>
                </div>
            </div>
            <div class="panel panel-default col-md-5" float style="float: right; padding:0 0 0 0; margin-left: 40px">
                <div class="panel-heading"><h4>Properties:</h4></div>
                <div ng-controller="AccordionDemoCtrl">
                    <accordion close-others="!oneAtATime">
                        <accordion-group is-open="status.isFirstOpen">
                            <accordion-heading>
                                View <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.isFirstOpen}"></i>
                            </accordion-heading>
                            <table id="nav" border="1px" width="100%">
                                <tr class="sub" tabindex="1">
                                    <td><b>Name</b></td>
                                    <td><input style="width:100%; color:gray" type="text" name="tile_name" value="Camera"></td>
                                </tr>
                                <tr>
                                    <td><b>Size</b></td>
                                    <td><input style="width:100%; color:gray" type="text" name="tile_size" value="simple"></td>
                                </tr>
                                <tr>
                                    <td><b>Color</b></td>
                                    <td><input style="width:100%; color:gray" type="text" name="tile_colour" value="Red"></td>
                                </tr>
                                <tr>
                                    <td><b>Image</b></td>
                                    <td><input style="width:100%; color:gray" type="text" name="tile_colour" value="camera"></td>
                                </tr>
                            </table>
                        </accordion-group>
                        <accordion-group is-open="status.open">
                            <accordion-heading>
                                Settings <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </accordion-heading>
                            <table id="nav" border="1px" width="100%">
                                <tr class="sub" tabindex="1">
                                    <td><b>Acces Gallery</b></td>
                                    <td><input style="width:100%; color:gray" type="text" name="tile_colour" value="TRUE"></td>
                                </tr>
                                <tr>
                                    <td><b>Save Images</b></td>
                                    <td><input style="width:100%; color:gray" type="text" name="tile_colour" value="TRUE"></td>
                                </tr>
                            </table>
                        </accordion-group>
                    </accordion>
                  </div>
            </div>
        </div>
    </div>
</div>
<!-- Notifications -->
<div noty ng-repeat="n in notifications"> </div>