<div class="container" fade-in>


    <div style="padding-top: 2em;" >

        <div class="jumbotron" style="padding-top:5px; padding-bottom:0px;">

            <div style="padding-bottom: 1em;" class="pull-right">
                
            </div>

            <div class="page-header">
                <h1>
                    <img ng-src="assets/resources/logo_LTB.png" width="80px" height="80px">
                    Edit {{StackCtrl.state.stack.stack}}
                </h1>
            </div>
        </div>
        <button type="button" ng-click="StackCtrl.saveStack()">Save Stack</button>
        <div class="row" >
            <div class="panel panel-default col-md-2" style="padding:0 0 0 0">
                <div class="panel-heading"><h4>Tiles:</h4></div>

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat='item in template_tiles' ng-show="item.name" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="template_tiles" jqyoui-draggable="{index: {{$index}}, placeholder: 'keep',onStart:'StackCtrl.startCallback(item, $index)'}">{{item.name}}</li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-4" style="padding-left:70px">
                <div class="emulator_iphone" style="width:350px; height:639px">
                    <!--<div class="content_iphone">
                         <a><img ng-src="assets/resources/bbb.png" width="242px" height="430px"></a>
                    </div>-->
                    <div class="content_iphone" data-drop="true" jqyoui-droppable="{multiple:true,onDrop: 'StackCtrl.dropTile'}">
                        <stackemulate>loading tiles...</stackemulate>
                    </div>
                </div>
            </div>
            <div class="panel panel-default col-md-5" float style="float: right; padding:0 0 0 0; margin-left: 40px">
                <div class="panel-heading"><h4>Properties:</h4>
                   
                </div>
                <div >
                    <div class="panel panel-default">
                    <div class="panel-heading">View</div>
                    <div class="panel-body">
                      <tile-prop ></tile-prop>
                    </div>
                  </div>
                    <div class="panel panel-default">
                    <div class="panel-heading">Settings</div>
                    <div class="panel-body">
                      <tile-settings ></tile-settings>
                    </div>
                  </div>
                    
                    
                    
                    
                  </div>
            </div>
        </div>
    </div>
</div>
<!-- Notifications -->
<div noty ng-repeat="n in notifications"> </div>